<tr id="dynamic_input_fields">
	<th align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_form.radio.item_names.program_name')%></font>
	</th>
	<td colspan="3" class="pattern_4">
		<%=text_field_tag('program_name', @source_obj.program_name,
		 {:size=>60, :maxlength=>60, :style=>"ime-mode: active;"})%>
		<%=svr_error_tag("sverr_program_name", @error_msg_hash[:program_name])%>
	</td>
</tr>
<tr id="dynamic_input_fields">
	<th align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_form.radio.item_names.broadcast_date')%></font>
	</th>
	<td colspan="3" class="pattern_4">
		<span id="broadcast_date_grp" name="broadcast_date_grp" class="chkgroup">
		<%=text_field_tag('broadcast_date_year', @source_obj.broadcast_date_year,
		 {:size=>6, :maxlength=>5, :style=>"ime-mode: disabled;"})%>/
		<%=default_select_datetime(@source_obj.broadcast_date, :broadcast_date,
		 {:discard_year=>true, :end_year=>Time.zone.today.year})%>
		</span>
		<%=svr_error_tag("sverr_broadcast_date", @error_msg_hash[:broadcast_date])%>
	</td>
</tr>
<tr id="dynamic_input_fields">
	<th align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_form.radio.item_names.radio_station')%></font>
	</th>
	<td class="pattern_4">
		<%=text_field_tag('radio_station', @source_obj.radio_station,
		 {:size=>40, :maxlength=>60, :style=>"ime-mode: active;"})%>
		<%=svr_error_tag("sverr_radio_station", @error_msg_hash[:radio_station])%>
	</td>
	<th align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_form.radio.item_names.production')%></font>
	</th>
	<td class="pattern_4">
		<%=text_field_tag('production', @source_obj.production,
		 {:size=>40, :maxlength=>60, :style=>"ime-mode: active;"})%>
		<%=svr_error_tag("sverr_production", @error_msg_hash[:production])%>
	</td>
</tr>