				<table border="0" cellspacing="0" cellpadding="0">
				<tbody>
				<tr height="40">
					<th width="190" align="center" valign="middle">
						<font size="3"><%=vt('left_part.item_names.title')%></font>
					</th>
				</tr>
				<tr>
					<% if @step_no == 1 then %>
					<td valign="middle" class="heading_01">
					<% else %>
					<td valign="middle" class="heading_02">
					<% end %>
						<font size="2">
							<%=vt('left_part.item_names.step_1')%><br>
							<%=vt('left_part.item_names.step_1_title')%>
						</font>
					</td>
				</tr>
				<tr height="20">
					<td align="center" valign="middle">
						<img src="/assets/arrow.png">
					</td>
				</tr>
				<tr>
					<% if @step_no == 2 then %>
					<td valign="middle" class="heading_01">
					<% else %>
					<td valign="middle" class="heading_02">
					<% end %>
						<font size="2">
							<%=vt('left_part.item_names.step_2')%><br>
							<%=vt('left_part.item_names.step_2_title')%>
						</font>
					</td>
				</tr>
				<tr height="20">
					<td align="center" valign="middle">
						<img src="/assets/arrow.png">
					</td>
				</tr>
				<tr height="50">
					<% if @step_no == 3 then %>
					<td valign="middle" class="heading_01">
					<% else %>
					<td valign="middle" class="heading_02">
					<% end %>
						<font size="2">
							<%=vt('left_part.item_names.step_3')%><br>
							<%=vt('left_part.item_names.step_3_title')%>
						</font>
					</td>
				</tr>
				<tr height="20">
					<td align="center" valign="middle">
						<img src="/assets/arrow.png">
					</td>
				</tr>
				<tr height="50">
					<% if @step_no == 4 then %>
					<td valign="middle" class="heading_01">
					<% else %>
					<td valign="middle" class="heading_02">
					<% end %>
						<font size="2">
							<%=vt('left_part.item_names.step_4')%><br>
							<%=vt('left_part.item_names.step_4_title')%>
						</font>
					</td>
				</tr>
				<tr height="20">
					<td align="center" valign="middle">
						<img src="/assets/arrow.png">
					</td>
				</tr>
				<tr height="50">
					<% if @step_no == 5 then %>
					<td valign="middle" class="heading_01">
					<% else %>
					<td valign="middle" class="heading_02">
					<% end %>
						<font size="2">
							<%=vt('left_part.item_names.step_5')%><br>
							<%=vt('left_part.item_names.step_5_title')%>
						</font>
					</td>
				</tr>
				<tr height="20">
					<td align="center" valign="middle">
						<img src="/assets/arrow.png">
					</td>
				</tr>
				<tr height="50">
					<% if @step_no == 6 then %>
					<td valign="middle" class="heading_01">
					<% else %>
					<td valign="middle" class="heading_02">
					<% end %>
						<font size="2">
							<%=vt('left_part.item_names.step_6')%><br>
							<%=vt('left_part.item_names.step_6_title')%>
						</font>
					</td>
				</tr>
				<tr height="20">
					<td align="center" valign="middle">
						<img src="/assets/arrow.png">
					</td>
				</tr>
				<tr height="50">
					<% if @step_no == 7 then %>
					<td valign="middle" class="heading_01">
					<% else %>
					<td valign="middle" class="heading_02">
					<% end %>
						<font size="2">
							<%=vt('left_part.item_names.step_7')%><br>
							<%=vt('left_part.item_names.step_7_title')%>
						</font>
					</td>
				</tr>
				</tbody>
				</table>