<% i18n_cache(:suffix=>'registration_step_5-1') do %>
<table width="750" border="0" cellspacing="0" cellpadding="0" class="base">
<tbody>
<tr height="10"><td colspan="2">&nbsp;</td></tr>
<tr>
	<td width="200" align="left" valign="top">
	<%= render(:partial=>'left_part')%>
	</td>
	<td width="550" valign="top">
		<table border="0" cellspacing="0" cellpadding="0">
		<thead>
		<tr>
			<td>
				<font size="3">
				<strong><%=vt('step_5.item_names.heading')%></strong>
				<p>
				&nbsp;<%=vt('step_5.messages.explanation_1')%><br/>
				&nbsp;<%=vt('step_5.messages.explanation_2')%><br/>
				&nbsp;<%=vt('step_5.messages.explanation_3')%>
				</p>
				</font>
				<font size="2">
				<p>
				&nbsp;<%=vt('step_5.messages.description_01')%><br/>
				&nbsp;<%=vt('step_5.messages.description_02')%>
				</p>
				</font>
			</td>
		</tr>
		</thead>
		</table>
	</td>
</tr>
</table>
<% end %>