<tr id="dynamic_input_fields">
	<th align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_view.music.item_names.music_name')%></font>
	</th>
	<td colspan="3" class="pattern_4">
		<font size="2"><%=@source_obj.music_name %></font>
	</td>
</tr>
<tr id="dynamic_input_fields">
	<th align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_view.music.item_names.lyricist')%></font>
	</th>
	<td class="pattern_4">
		<font size="2"><%=@source_obj.lyricist %></font>
	</td>
	<th width="110" align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_view.music.item_names.composer')%></font>
	</th>
	<td class="pattern_4">
		<font size="2"><%=@source_obj.composer %></font>
	</td>
</tr>
<tr id="dynamic_input_fields">
	<th align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_view.music.item_names.jasrac_code')%></font>
	</th>
	<td class="pattern_4">
		<font size="2"><%=@source_obj.jasrac_code %></font>
	</td>
	<th align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_view.music.item_names.iswc')%></font>
	</th>
	<td class="pattern_4">
		<font size="2"><%=@source_obj.iswc %></font>
	</td>
</tr>