<tr id="dynamic_input_fields">
	<th align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_view.newspaper.item_names.newspaper')%></font>
	</th>
	<td colspan="3" class="pattern_4">
		<font size="2">
		<%=newspaper_name(@source_obj.newspaper_id) %>&nbsp;
		<%=@source_obj.newspaper_detail %>
		</font>
	</td>
</tr>
<tr id="dynamic_input_fields">
	<th align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_view.newspaper.item_names.edition')%></font>
	</th>
	<td colspan="3" class="pattern_4">
		<font size="2">
		<%=default_date(@source_obj.posted_date) %>&nbsp;
		<%=code_label(:NEWSPAPER_CLS, @source_obj.newspaper_cls) %>
		</font>
	</td>
</tr>
<tr id="dynamic_input_fields">
	<th align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_view.newspaper.item_names.headline')%></font>
	</th>
	<td colspan="3" class="pattern_4">
		<font size="2"><%=@source_obj.headline %></font>
	</td>
</tr>
<tr id="dynamic_input_fields">
	<th align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_view.newspaper.item_names.reporter')%></font>
	</th>
	<td colspan="3" class="pattern_4">
		<font size="2"><%=@source_obj.reporter %></font>
	</td>
</tr>
<tr id="dynamic_input_fields">
	<th align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_view.newspaper.item_names.job_title')%></font>
	</th>
	<td colspan="3" class="pattern_4">
		<font size="2">
		<%=job_title_name(@source_obj.job_title_id) %>&nbsp;
		<%=@source_obj.job_title %>
		</font>
	</td>
</tr>