<tr id="dynamic_input_fields">
	<th align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_view.radio.item_names.program_name')%></font>
	</th>
	<td colspan="3" class="pattern_4">
		<font size="2"><%=@source_obj.program_name %></font>
	</td>
</tr>
<tr id="dynamic_input_fields">
	<th align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_view.radio.item_names.broadcast_date')%></font>
	</th>
	<td colspan="3" class="pattern_4">
		<font size="2"><%=default_date(@source_obj.broadcast_date) %></font>
	</td>
</tr>
<tr id="dynamic_input_fields">
	<th align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_view.radio.item_names.radio_station')%></font>
	</th>
	<td class="pattern_4">
		<font size="2"><%=@source_obj.radio_station %></font>
	</td>
	<th width="100" align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_view.radio.item_names.production')%></font>
	</th>
	<td class="pattern_4">
		<font size="2"><%=@source_obj.production %></font>
	</td>
</tr>