<%= javascript_include_tag("partials/_left_link")%>
<div class="contextMenu" id="context_menu">
	<ul>
		<li id="open"><%=image_tag("icon_new_window.png")%> <%=t('views.partial.item_names.new_window')%></li>
	</ul>
</div>
<table border="0" cellspacing="0" cellpadding="0">
<% unless user_login? then %>
<tr height="50">
	<td width="190" align="center">
		<%=button_to(t('views.partial.item_names.registration'), '/registration/step_1.html', {:id=>"regist_btn", :method=>:get, :class=>"button_01"})%>
	</td>
</tr>
<% end %>
<tr>
	<td width="190" align="center">
		<%=button_to(t('views.partial.item_names.front_page'), '/index.html', {:id=>"front_btn", :method=>:get, :class=>"button_02"})%>
	</td>
</tr>
<tr>
	<td align="center">
	<% if user_login? then %>
		<%= form_tag({:controller=>'session/session', :action=>'logout'}, {:id=>'logout_form'}) do %>
		<%=submit_tag(t('views.partial.item_names.logout'), {:id=>"logout_btn", :class=>"button_02"})%>
		<% end %>
	<% else %>
		<%=button_to(t('views.partial.item_names.login'), '/session/index.html', {:id=>"login_btn", :method=>:get, :class=>"button_02"})%>
	<% end %>
	</td>
</tr>
<tr>
	<td align="center">
		<%=button_to(t('views.partial.item_names.usage_notice'), '/notes_on_use.html', {:id=>"usage_notice_btn", :method=>:get, :class=>"button_02"})%>
	</td>
</tr>
<tr>
	<td align="center">
		<%=button_to(t('views.partial.item_names.agreement'), '/agreement.html', {:id=>"agreement_btn", :method=>:get, :class=>"button_02"})%>
	</td>
</tr>
<tr>
	<td align="center">
		<%=button_to(t('views.partial.item_names.privacy_policy'), '/privacy_policy.html', {:id=>"privacy_policy_btn", :method=>:get, :class=>"button_02"})%>
	</td>
</tr>
<% if user_admin? then %>
<tr>
	<td align="center">
		<%= form_tag_with_params({:controller=>'list/list', :action=>'form'},
					{:id=>'member_list_form', :name=>'member_list_form'}, :TRANS_PTN_NEW) do %>
		<%=submit_tag(t('views.partial.item_names.member_list'), {:id=>"member_list_btn", :class=>"button_02"})%>
		<% end %>
	</td>
</tr>
<% end %>
</table>