<%= javascript_include_tag("quote/post/form")%>
<% unless @error_msg_hash.empty? then %>
<script type="text/javascript">
<!--
function init_validate(){$("#quote_form").valid();}
window.onload=init_validate;
// -->
</script>
<% end %>
<% i18n_cache(:suffix=>'quote-post-form-1') do %>
<table border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
	<td align="center">
<% end %>
		<!-- 機能一覧 -->
		<%= render('partials/func_link')%>
<% i18n_cache(:suffix=>'quote-post-form-2') do %>
	</td>
</tr>
<tr><td height="5"></td></tr>
<tr>
	<td align="center">
<% end %>
		<%= form_tag_with_params({:controller=>'quote/post', :action=>'source'},
				{:id=>'ajax_form', :name=>'ajax_form'}, :TRANS_PTN_NOW) do %>
		<%=hidden_field_tag("source_id", nil)%>
		<% end %>
		<%= form_tag_with_params({:controller=>'quote/post', :action=>'check'},
				{:id=>'quote_form', :name=>'quote_form'}, :TRANS_PTN_NOW) do %>
<% i18n_cache(:suffix=>'quote-post-form-3') do %>
		<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
		<tr>
		<td>
			<!-- 引用文 -->
			<table width="852" border="0" cellpadding="0" cellspacing="0">
			<tbody>
			<tr>
				<td class="pattern_5 angle_ul"></td>
				<td class="pattern_5"></td>
				<td class="pattern_5 angle_ur"></td>
			</tr>
			<tr>
				<td class="pattern_5">&nbsp;</td>
				<td align="center" class="pattern_5">
					<table border="0" cellpadding="0" cellspacing="0">
					<tbody>
					<tr>
						<td colspan="2" align="center">
							<h2 class="pattern_2"><%=vt('form.item_names.quote_title')%></h2>
						</td>
					</tr>
					<tr>
						<td width="630">
<% end %>
							<%=text_area_tag('quote', @biz_obj.quote, {:class=>'said_balloon'})%>
							<%=svr_error_tag("sverr_quote", @error_msg_hash[:quote])%>
<% i18n_cache(:suffix=>'quote-post-form-4') do %>
						</td>
						<td width="170" align="right">
							<div class="font_oversize"><%=vt('form.item_names.quote_footer')%></div>
						</td>
					</tr>
					</tbody>
					</table>
				</td>
				<td class="pattern_5">&nbsp;</td>
			</tr>
			<tr>
				<td class="pattern_5 angle_ll"></td>
				<td class="pattern_5"></td>
				<td class="pattern_5 angle_lr"></td>
			</tr>
			</tbody>
			</table>
		</td>
		</tr>
		<tr><td height="5"></td></tr>
		<tr>
		<td>
			<!-- 出典情報 -->
			<table width="852" border="0" cellpadding="0" cellspacing="0">
			<tbody>
			<tr>
				<td class="pattern_2 angle_ul"></td>
				<td class="pattern_2"></td>
				<td class="pattern_2 angle_ur"></td>
			</tr>
			<tr>
				<td class="pattern_2">&nbsp;</td>
				<td align="center" class="pattern_2">
					<h2 class="pattern_2"><%=vt('form.item_names.source_title')%></h2>
				</td>
				<td class="pattern_2">&nbsp;</td>
			</tr>
			<tr>
				<td height="15" class="pattern_2">&nbsp;</td>
				<td align="right" class="pattern_2">
					<div class="page_link">
<% end %>
					<%= link_to(vt('form.messages.notes_on_post'), "/notes_on_post.html", {:target=>'_blank'})%>
<% i18n_cache(:suffix=>'quote-post-form-5') do %>
					</div>
				</td>
				<td class="pattern_2">&nbsp;</td>
			</tr>
			<tr>
				<td class="pattern_2">&nbsp;</td>
				<td align="center" class="pattern_2">
					<table width="820" border="0" cellpadding="0" cellspacing="0" class="pattern_1">
					<tbody>
					<tr>
						<th width="156" align="left" class="pattern_4"><%=vt('form.item_names.speaker')%></th>
						<td colspan="3" class="pattern_4">
<% end %>
						<%=text_field_tag('speaker', @biz_obj.speaker,
						 {:size=>50, :maxlength=>60, :style=>"ime-mode: active;"})%>
						<%=svr_error_tag("sverr_speaker", @error_msg_hash[:speaker])%>
						</td>
					</tr>
					<tr>
						<th align="left" class="pattern_4"><%=vt('form.item_names.speaker_title')%></th>
						<td colspan="3" class="pattern_4">
						<span id="job_title_grp" name="job_title_grp" class="chkgroup">
						<%=job_title_select('job_title_id', @biz_obj.job_title_id)%>
						<%=text_field_tag('job_title', @biz_obj.job_title, {:size=>50, :maxlength=>40, :style=>'ime-mode: active;'})%>
						</span>
						<%=svr_error_tag("sverr_job_title", @error_msg_hash[:job_title])%>
						</td>
					</tr>
					<tr id="select_source_row">
						<th align="left" class="pattern_4"><%=vt('form.item_names.source_class')%></th>
						<td colspan="3" class="pattern_4">
						<%=source_select('source_id', @biz_obj.source_id) %>
						<%=svr_error_tag("sverr_source_id", @error_msg_hash[:source_id])%>
						</td>
					</tr>
					<% unless @biz_obj.source_obj.nil? then %>
					<!-- 出所情報 -->
					<%= render('partials/source_form/' + @source_obj.form_name)%>
					<% end %>
					<tr>
						<th align="left" class="pattern_4"><%=vt('form.item_names.description')%></th>
						<td colspan="3" class="pattern_4">
							<%=text_area_tag('description', @biz_obj.description,
							 {:class=>'description', :style=>"ime-mode: active;"})%>
							<%=svr_error_tag("sverr_description", @error_msg_hash[:description])%>
<% i18n_cache(:suffix=>'quote-post-form-6') do %>
						</td>
					</tr>
					</tbody>
					</table>
				</td>
				<td class="pattern_2">&nbsp;</td>
			</tr>
			<tr>
				<td class="pattern_2 angle_ll"></td>
				<td class="pattern_2"></td>
				<td class="pattern_2 angle_lr"></td>
			</tr>
			</tbody>
			</table>
		</td>
		</tr>
		<tr><td height="5"></td></tr>
		<tr>
		<td>
			<!-- 批評・コメント -->
			<table width="852" border="0" cellpadding="0" cellspacing="0">
			<tbody>
			<tr>
				<td class="pattern_6 angle_ul"></td>
				<td class="pattern_6"></td>
				<td class="pattern_6 angle_ur"></td>
			</tr>
			<tr>
				<td class="pattern_6">&nbsp;</td>
				<td align="center" class="pattern_6">
					<h2 class="pattern_2"><%=vt('form.item_names.comment_title')%></h2>
				</td>
				<td class="pattern_6">&nbsp;</td>
			</tr>
			<tr>
				<td class="pattern_6">&nbsp;</td>
				<td class="pattern_6">
<% end %>
					<%=text_area_tag('comment', @biz_obj.comment,
					 {:class=>'comment', :style=>"ime-mode: active;"})%>
					<%=svr_error_tag("sverr_comment", @error_msg_hash[:comment])%>
				</td>
				<td class="pattern_6">&nbsp;</td>
			</tr>
			<tr>
				<td height="60" class="pattern_6">&nbsp;</td>
				<td align="center" class="pattern_6">
					<%=submit_tag(vt('form.item_names.check_btn'), {:class=>'button_1'})%>
<% i18n_cache(:suffix=>'quote-post-form-7') do %>
				</td>
				<td class="pattern_6">&nbsp;</td>
			</tr>
			<tr>
				<td class="pattern_6 angle_ll"></td>
				<td class="pattern_6"></td>
				<td class="pattern_6 angle_lr"></td>
			</tr>
			</tbody>
			</table>
		</td>
		</tr>
		</tbody>
		</table>
<% end %>
		<% end %>
<% i18n_cache(:suffix=>'quote-post-form-8') do %>
	</td>
</tr>
</tbody>
</table>
<% end %>