<tr id="dynamic_input_fields">
	<th align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_check.magazine.item_names.magazine_name')%></font>
	</th>
	<td class="pattern_4">
		<font size="2"><%=@source_obj.magazine_name %></font>
		<%=hidden_tag("magazine_name", @source_obj.magazine_name)%>
	</td>
	<th width="110" align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_check.magazine.item_names.magazine_cd')%></font>
	</th>
	<td class="pattern_4">
		<font size="2"><%=@source_obj.magazine_cd %></font>
		<%=hidden_tag("magazine_cd", @source_obj.magazine_cd)%>
	</td>
</tr>
<tr id="dynamic_input_fields">
	<th align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_check.magazine.item_names.article_title')%></font>
	</th>
	<td colspan="3" class="pattern_4">
		<font size="2"><%=@source_obj.article_title %></font>
		<%=hidden_tag("article_title", @source_obj.article_title)%>
	</td>
</tr>
<tr id="dynamic_input_fields">
	<th align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_check.magazine.item_names.publisher')%></font>
	</td>
	<td class="pattern_4">
		<font size="2"><%=@source_obj.publisher %></font>
		<%=hidden_tag("publisher", @source_obj.publisher)%>
	</td>
	<th align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_check.magazine.item_names.release_date')%></font>
	</th>
	<td class="pattern_4">
		<font size="2"><%=default_date(@source_obj.release_date) %></font>
		<%=hidden_tag("release_date_year", @source_obj.release_date_year)%>
		<%=date_hidden_tag("release_date", @source_obj.release_date)%>
	</td>
</tr>
<tr id="dynamic_input_fields">
	<th align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_check.magazine.item_names.reporter')%></font>
	</th>
	<td colspan="3" class="pattern_4">
		<font size="2"><%=@source_obj.reporter %></font>
		<%=hidden_tag("reporter", @source_obj.reporter)%>
	</td>
</tr>
<tr id="dynamic_input_fields">
	<th align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_check.magazine.item_names.job_title')%></font>
	</th>
	<td colspan="3" class="pattern_4">
		<font size="2">
		<%=job_title_name(@source_obj.job_title_id) %>　
		<%=@source_obj.job_title %>
		</font>
		<%=hidden_tag("reporter_job_title_id", @source_obj.job_title_id)%>
		<%=hidden_tag("reporter_job_title", @source_obj.job_title)%>
	</td>
</tr>