<tr id="dynamic_input_fields">
	<th align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_check.movie.item_names.title')%></font>
	</th>
	<td colspan="3" class="pattern_4">
		<font size="2"><%=@source_obj.title %></font>
		<%=hidden_tag("title", @source_obj.title)%>
	</td>
</tr>
<tr id="dynamic_input_fields">
	<th align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_check.movie.item_names.production')%></font>
	</th>
	<td class="pattern_4">
		<font size="2"><%=@source_obj.production %></font>
		<%=hidden_tag("production", @source_obj.production)%>
	</td>
	<th width="110" align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_check.movie.item_names.sold_by')%></font>
	</th>
	<td class="pattern_4">
		<font size="2"><%=@source_obj.sold_by %></font>
		<%=hidden_tag("sold_by", @source_obj.sold_by)%>
	</td>
</tr>
<tr id="dynamic_input_fields">
	<th align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_check.movie.item_names.release_date')%></font>
	</th>
	<td colspan="3" class="pattern_4">
		<font size="2"><%=default_date(@source_obj.release_date) %></font>
		<%=hidden_tag("release_date_yaer", @source_obj.release_date_year)%>
		<%=date_hidden_tag("release_date", @source_obj.release_date)%>
	</td>
</tr>